<!DOCTYPE html>
<html>
<head>
  <title>ER to NFA</title>
  <script type="text/javascript" src="js/view/view.min.js"></script>

  <script type="text/javascript" src="js/go/go.js"></script>
  <script type="text/javascript" src="js/go/samples.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
<style>
   body {background-color: #a099b2; }
    h3{ color: #035f78; font-size:1.8em; position:relative; left:500px;}
    .form{
      margin: 50px;

      margin-left: 400px;
    }
    span{
      display: inline-block;
      font-size:1.2em;
      color: #035f78;
       border-radius: 10px;
      background-color:  #DAE4E4 ;

    }
    button, input,select{
      margin: 10px
    }
    button,input,select{
      border-radius: 15px;
    }
</style>
</head>


<body ng-app="myApp" ng-controller="conv"> 
<br/>
<br/>
<br/>
<br/>
<h3>Expression Reguliaire  TO NFA  </h3>
<div class=form>
    
	<span>Saisir ER:</span><input id="re" ng-model="re" value="A"  /> {{re}}
    
<button id="convert" ng-click="convert()">convert</button>
</div>
  <div id="myDiagramDiv1" style="width:100%; height:300px; background-color: #DAE4E4;" >
  </div>


</body>

<script type="text/javascript">
var myApp= angular.module("myApp",[])

.controller('conv',function($scope){
 
     

/***********************************************************/
    $scope.convert = function()
    { console.log("converting ..");
    	var re= $scope.re;
    	var new_re= "("+re+")";

    	
    	nfa=ReToNfa($scope.re.toString());
    	console.log("nf",nfa);
    	this.keys=[];
    	this.links=[];

    	for(var i in nfa.vertex)
    	{
    		obj={}
	        obj["key"]= nfa.vertex[i].toString();
	        this.keys.push(obj);
    	}

    for( var i in nfa.transitions)
      {
        obj={};
        obj["from"]= nfa.transitions[i].from.toString();
        obj["to"]= nfa.transitions[i].to.toString();
        obj["text"]=nfa.transitions[i].trans_symb.toString();
        this.links.push(obj);
        console.log("obj",obj);
      }

      console.log(this.links);
      console.log(this.keys);


      $ = go.GraphObject.make;
      if (window.goSamples) goSamples();
      var myDiagram =
        $(go.Diagram, "myDiagramDiv1",
          {
            initialContentAlignment: go.Spot.Center, // center Diagram contents
             "toolManager.mouseWheelBehavior": go.ToolManager.WheelZoom,
            "undoManager.isEnabled": true 
          });
       myDiagram.nodeTemplate=
        $(go.Node, "Horizontal",
          { background: "#88CCFF" },
        
        $(go.TextBlock,
            "default text",  // string argument can be initial text string
            {  margin: 12, stroke: "white", font: "bold 16px sans-serif" },
           
            new go.Binding("text", "key"))
        );
        myDiagram.linkTemplate =
          $(go.Link,
            $(go.Shape),                          // this is the link shape (the line)
            $(go.Shape, { toArrow: "Standard" }),  // this is an arrowhead
            $(go.TextBlock, { textAlign: "center" },                // this is a Link label
              new go.Binding("text", "text"))
          );

           myDiagram.toolManager.resizingTool.handleArchetype =
    $(go.Shape, "Circle",
      { width: 10, height: 10, fill: "yellow" });
          var model = $(go.GraphLinksModel);
          model.nodeDataArray = this.keys ;
          model.linkDataArray= this.links ;
          myDiagram.model = model;
          myDiagram.layout = new go.ForceDirectedLayout();


   
   }   


});
</script>

</html>




